<header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
    <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
        <div class="navbar navbar-main">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                            <img class="logo-default" src="static/images/logo-black.png" alt="logo" />
                            <img class="logo-retina" src="static/images/logo-retina-black.png" alt="logo" />
                        </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav">
                            <li {{ if eq .Page.Title "Products" }} class="active" {{ end }}>
                                <a href="./products" role="button">Products</a>
                            </li>
                            <li {{ if eq .Page.Title "Services" }} class="active" {{ end }}>
                                <a href="./services" role="button">Services</a>
                            </li>
                            <li {{ if eq .Page.Title "Company" }} class="active" {{ end }}>
                                <a href="./company" role="button">About</a>
                            </li>
                            <li>
                                <a href="https://blog.boobalan.in" target="_blank" role="button">Blog</a>
                            </li>
                            <li {{ if eq .Page.Title "Contact" }} class="active" {{ end }}>
                                <a href="./contact" role="button">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>